SIGNER_KEY = "suipriv..." 

PACKAGE_ADDRESS = "0x..." 
WALLET_ADDRESS = "0x..."

HKDF_KEY="random 32 bytes string"   

TEST_RECOVERY_ACC = "suiprivkey1qp0xednha5mge0t6ryutn20sayw9kkv2jmeuj805s7nu8rp0tma7z99fmq0" #account that'll be hardcoded and used for recovery (TESTING)

FALLBACK_ADDR = "Algorand Mnemonic" #mnemonics of the fallback algorand address