SIGNER_KEY = "suipriv..." #admin private key (change this to new admin key in case of recovery)

PACKAGE_ADDRESS = "0x..." 
WALLET_ADDRESS = "0x..."

HKDF_KEY="random 32 bytes string"   

TEST_RECOVERY_ACC = "suipriv..." #account that'll be hardcoded and used for recovery (TESTING)

FALLBACK_ADDR = "Algorand Mnemonic" #mnemonics of the fallback algorand address